.cover__link {
  position: relative;
  box-sizing: border-box;
  background-image: url(../../../images/cover/cover-trains.jpg);
  background-size: cover;
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto 0;
  display: flex;
  align-items:center;
  text-decoration: none;
}

@media screen and (max-width: 1184px) {
  .cover__link {
    min-height: 62.5vw;
  }
}

