.place__paragraph-top {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  color: #fff;
  padding-bottom: 26px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 16px;
    line-height: 26px;
  }
}
