.lead__caption {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  color: #fff;
}

@media screen and (max-width: 928px) {
  .lead__caption {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 675px) {
  .lead__caption {
    padding-left: 16px;
  }
}
