.place {
  padding-bottom: 80px;
  display: grid;
  max-width: 984px;
  grid-template-columns: repeat(2, minmax(min-content,max-content));
  grid-template-rows: repeat(3, minmax(min-content,max-content));
  column-gap: 48px;
  row-gap: 32px;
  justify-content: center;
  margin: 0 auto 0;
  grid-template-areas:
      'title url'
      'img prg';
  }
.place:last-of-type {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .place {
    row-gap: 28px;
    padding-bottom: 72px;
  }
}

@media screen and (max-width: 675px) {
  .place {
    grid-template-areas:
      'title'
      'url'
      'img'
      'prg';
    padding-bottom: 50px;
    column-gap: 0;
    row-gap: 32px;
  }
}
