.footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 28px;
  }
}

@media screen and (max-width: 675px) {
  .footer {
    flex-direction: column;
    padding: 0 16px;
    height: 310px;
  }
}
