.place__website {
  grid-area: url;
  align-self: end;
  margin: 0;
  justify-self: start;
  padding: 0;
}

@media screen and (max-width: 620px) {
  .place__website {
    max-width: 288px;
    padding: 0 16px;
  }
}
